/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  /* Form styles */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  legend {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="lastname"],
  input[type="address"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  select {
    height: 38px;
  }
  
  /* button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  } */
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  
  /* Additional styles */
  .dataEntry2 {
    margin-top: 30px;
  }


#submitBtn{
    background-color: #4caf50;
}

#resetBtn{
    background-color:#ff6347;
}

    
  /* Style for the buttons */
  .button-container input[type="reset"],
  .button-container input[type="submit"] {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Hover effect for buttons */
  .button-container input[type="reset"]:hover,
  .button-container input[type="submit"]:hover {
    opacity: 0.8;
  }
  
  /* Hover effect for buttons */
  button:hover,
  #resetBtn:hover {
    opacity: 0.8;
  }

  /* Invalid input styles */
input:invalid,
select:invalid {
  border: 2px solid red;
  background-color: lightpink; /* Change background color to light pink */
}

/* Valid input styles */
input:valid,
select:valid {
  border: 2px solid green;
}
